h1{
    color: blue;
    background-color: chartreuse;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}
.admit{
    color: rgb(0, 4, 255);
    background-color: greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    width: fit-content;
}
button{
    background-color: chartreuse;
    color: aliceblue;
}
textarea{
    color: rgb(188, 31, 178);
    background-color: orange;
}
label{
    color: rgb(46, 42, 165);
}
input{
    background-color: cyan;
    color: crimson;
}
select{
    color: black;
    background-color: fuchsia;
}